In [12]:
import pandas as pd
import numpy as np

### Carregamento dos dados dos arquivos CSV

In [13]:
df_compras = pd.read_csv('compras.csv')
df_vendas = pd.read_csv('vendas.csv')

### Soma de compras de cada produto

In [14]:
df_compras = df_compras.groupby(['Produto'])['Compra'].sum().reset_index()
df_compras

   Produto  Compra
0        1     200
1        2     150
2        3      60
3        4     150

### Soma de vendas de cada produto

In [15]:
df_vendas = df_vendas.groupby(['Produto'])['Venda'].sum().reset_index()
df_vendas

   Produto  Venda
0        1     23
1        3      3
2        4      7

### União das tabelas

In [16]:
df_estoque = df_compras.merge(df_vendas, on='Produto', how='left')
df_estoque

   Produto  Compra  Venda
0        1     200   23.0
1        2     150    NaN
2        3      60    3.0
3        4     150    7.0

### Reescrevendo dados incompletos ou inexistentes

In [17]:
df_estoque.replace(np.NAN, 0, inplace=True)

### Calculando o estoque de cada produto

In [18]:
df_estoque['Estoque'] = df_estoque['Compra'] - df_estoque['Venda']
df_estoque

   Produto  Compra  Venda  Estoque
0        1     200   23.0    177.0
1        2     150    0.0    150.0
2        3      60    3.0     57.0
3        4     150    7.0    143.0

### Exportando os dados do estoque para arquivo CSV

In [19]:
df_estoque.to_csv('estoque.csv', index=False)

## TODO: pesquisar estoque por período de tempo